@media only screen and (max-width: 600px) {
  html {
    margin: 2%;
    font-size: 10pt;
  }

  h1 {
    text-align: center;
    font-size: 45pt;
  }

  h2 {
    font-size: 30pt;
    padding-top: 20px;
    font-stretch: expanded;
  }

  .headings {
    text-align: center;
    font-size: 20pt;
  }

  nav {
    text-align: center;
    font-size: 9pt;
  }

  nav a {
    display: inline;
    padding-right: 8px;
  }

  footer {
    font-size: 6pt;
  }

  .quote {
    text-align: center;
    font-size: 13pt;
    padding-top: 25px;
    padding-bottom: 20px;
    width: 100%;
    text-indent: 0pt;
  }

  .project-introduction {
    font-size: 9pt;
  }

  .home-photos {
    width: 300px;
    margin-left: 2%;
    margin-right: 2%;
  }

  .introduction-grid {
    display: grid;
    grid-template-areas:
      "costa-rica"
      "morocco"
      "italy"
      "spain";
    grid-template-columns: 100%;
  }

  .country-intro {
    font-size: 10pt;
    width: 100%;
  }

  /*end of home page*/

  .slideshow-container {
    width: 500px;
    max-height: 500px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
  }

  .spain-places {
    width: 200px;
  }

  .places-photos {
    width: 250px;
  }

  .moments-photos {
    width: 500px;
  }

  .food-photos {
    width: 250px;
    height: 150px;
  }

  .places {
    text-align: center;
  }

  .moments-costarica {
    display: grid;
    grid-template-areas:
      "memory1"
      "photo1"
      "memory2"
      "photo2"
      "memory3"
      "photo3"
      "memory4"
      "photo4"
      "memory5"
      "photo5"
      "memory6"
      "photo6";
    grid-row-gap: 30px;
    width: 600px;
  }

  .food-costarica {
    display: grid;
    grid-template-areas:
      "foodphoto1 foodphoto2"
      "food1 food2"
      "foodphoto3 foodphoto4"
      "food3 food4"
      "foodphoto5 foodphoto6"
      "food5 food6";
    grid-row-gap: 30px;
    width: 600px;
  }

  .places-visited-costarica {
    display: grid;
    grid-template-areas:
      "placephoto1 place1"
      "placephoto2 place2"
      "placephoto3 place3"
      "placephoto4 place4"
      "placephoto5 place5";
    grid-row-gap: 15px;
    width: 600px;
  }

  .moments-morocco {
    display: grid;
    grid-template-areas:
      "memory1"
      "photo1"
      "memory2"
      "photo2"
      "memory3"
      "photo3"
      "memory4"
      "photo4"
      "memory5"
      "photo5"
      "memory6"
      "photo6";
    grid-row-gap: 30px;
    width: 600px;
  }

  .places-visited-morocco {
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    width: 98%;
  }

  .food-morocco {
    display: grid;
    grid-template-areas:
      "foodphoto1 foodphoto2"
      "food1 food2"
      "foodphoto3 foodphoto4"
      "food3 food4"
      "foodphoto5 foodphoto6"
      "food5 food6"
      "foodphoto7 foodphoto8 "
      "food7 food8";
    grid-row-gap: 30px;
    width: 600px;
    margin-left: 3%;
    margin-right: 3%;
  }

  .moments-italy {
    display: grid;
    grid-template-areas:
      "memory1"
      "photo1"
      "memory2"
      "photo2"
      "memory3"
      "photo3"
      "memory4"
      "photo4"
      "memory5"
      "photo5"
      "memory6"
      "photo6";
    grid-row-gap: 30px;
    width: 100%;
  }

  .food-italy {
    display: grid;
    grid-template-areas:
      "foodphoto1 foodphoto2 foodphoto3"
      "food1 food2 food3"
      "foodphoto4 foodphoto5 foodphoto6"
      "food4 food5 food6"
      "foodphoto7 foodphoto8 foodphoto9"
      "food7 food8 food9"
      "foodphoto10 foodphoto11 foodphoto12"
      "food10 food11 food12";
    grid-row-gap: 50px;
  }

  .moments-spain {
    display: grid;
    grid-template-areas:
      "memory1"
      "photo1"
      "memory2"
      "photo2"
      "memory3"
      "photo3"
      "memory4"
      "photo4"
      "memory5"
      "photo5"
      "memory6"
      "photo6";
    grid-row-gap: 30px;
    width: 600px;
  }
}
