/* GENERAL */
html,
body {
  font-family: "Abel", sans-serif;
  margin: 3%;
  font-size: 14pt;
  background-color: #f8f8fa;
  margin-bottom: 5%;
  /* min-width: 375px; */
}
.mobile-only {
  display: none;
}

/* a {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
} */

h1 {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-size: 60pt;
  color: #005073;
  padding-bottom: 0;
}

h2 {
  font-size: 30pt;
  font-family: "Bebas Neue", regular;
  padding-top: 40px;
  font-style: italic;
  font-weight: bolder;
  color: #107dac;
  font-stretch: expanded;
}

.headings {
  text-align: center;
  color: #107dac;
  font-family: "Bebas Neue", regular;
  font-style: italic;
  font-weight: bolder;
  font-stretch: expanded;
  font-size: 30pt;
}

footer {
  background-color: #71c7ec;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav {
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
}

nav li {
  display: inline;
  padding-right: 40pt;
}

a {
  text-decoration: none;
  color: #107dac;
}

a:hover {
  color: #71c7ec;
}

nav a {
  display: inline;
  padding-right: 30px;
}

.quote {
  text-align: center;
  font-size: 20pt;
  color: #005073;
  font-style: oblique;
  padding-top: 25px;
  padding-bottom: 20px;
}

.home-photos {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

p {
  text-indent: 25px;
}

/* HOME PAGE*/
.introduction-grid {
  display: grid;
  grid-template-areas:
    "costa-rica morocco"
    "italy spain";
  margin-left: 3%;
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: auto;
  grid-template-columns: 50% 50%;
}

.costa-rica {
  grid-area: costa-rica;
}

.morocco {
  grid-area: morocco;
}

.italy {
  grid-area: italy;
}

.spain {
  grid-area: spain;
}

.country-intro {
  font-size: 12pt;
  max-width: 490px;
  text-indent: 25px;
}

/* SLIDESHOW CONTAINER */
.slideshow-container {
  max-width: 600px;
  max-height: 600px;
  position: relative;
  margin: auto;
  padding-top: 50px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  text-align: center;
}

.dot-indicators {
  text-align: center;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* COSTA RICA */

.moments-photos {
  width: 400px;
}

.places-photos {
  width: 200px;
  height: 150px;
}

.food-photos {
  width: 200px;
  height: 150px;
}

.places-visited-morocco {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "placephoto1 place1 placephoto5 place5"
    "placephoto2 place2 placephoto6 place6"
    "placephoto3 place3 placephoto7 place7"
    "placephoto4 place4 placephoto8 place8";
  grid-row-gap: 15px;
  /* background-color: #71c7ec;
  padding-top: 20px; */
  padding-bottom: 20px;
  border-radius: 25px;
}

.places-visited-costarica {
  display: grid;
  grid-template-areas:
    "placephoto1 place1 placephoto4 place4"
    "placephoto2 place2 placephoto5 place5"
    "placephoto3 place3 . .";
  grid-row-gap: 15px;
  padding-bottom: 20px;
}

.places-visited-italy {
  display: grid;
  grid-template-areas:
    "placephoto1 place1 placephoto8 place8"
    "placephoto2 place2 placephoto9 place9"
    "placephoto3 place3 placephoto10 place10"
    "placephoto4 place4 placephoto11 place11"
    "placephoto5 place5 placephoto12 place12"
    "placephoto6 place6 placephoto13 place13"
    "placephoto7 place7 placephoto14 place14";
  grid-row-gap: 15px;
  padding-bottom: 20px;
}

.places-visited-spain {
  display: grid;
  grid-template-areas:
    "placephoto1 placephoto2 placephoto3"
    "place1 place2 place3";
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  padding-bottom: 20px;
}

.spain-places {
  width: 350px;
}

.places {
  font-size: 20pt;
}

.place1 {
  grid-area: place1;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.place2 {
  grid-area: place2;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.place3 {
  grid-area: place3;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.place4 {
  grid-area: place4;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.place5 {
  grid-area: place5;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.place6 {
  grid-area: place6;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.place7 {
  grid-area: place7;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.place8 {
  grid-area: place8;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.place9 {
  grid-area: place9;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.place10 {
  grid-area: place10;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.place11 {
  grid-area: place11;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.place12 {
  grid-area: place12;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.place13 {
  grid-area: place13;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.place14 {
  grid-area: place14;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.placephoto1 {
  grid-area: placephoto1;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.placephoto2 {
  grid-area: placephoto2;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.placephoto3 {
  grid-area: placephoto3;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.placephoto4 {
  grid-area: placephoto4;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.placephoto5 {
  grid-area: placephoto5;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.placephoto6 {
  grid-area: placephoto6;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.placephoto7 {
  grid-area: placephoto7;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.placephoto8 {
  grid-area: placephoto8;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.placephoto9 {
  grid-area: placephoto9;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.placephoto10 {
  grid-area: placephoto10;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.placephoto11 {
  grid-area: placephoto11;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.placephoto12 {
  grid-area: placephoto12;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.placephoto13 {
  grid-area: placephoto13;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.placephoto14 {
  grid-area: placephoto14;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.food-morocco {
  display: grid;
  grid-template-areas:
    "foodphoto1 foodphoto2 foodphoto3 foodphoto4"
    "food1 food2 food3 food4"
    "foodphoto5 foodphoto6 foodphoto7 foodphoto8 "
    "food5 food6 food7 food8";
  grid-row-gap: 50px;
}

.food-costarica {
  display: grid;
  grid-template-areas:
    "foodphoto1 foodphoto2 foodphoto3"
    "food1 food2 food3"
    "foodphoto4 foodphoto5 foodphoto6"
    "food4 food5 food6";
  grid-row-gap: 50px;
}

.food-italy {
  display: grid;
  grid-template-areas:
    "foodphoto1 foodphoto2 foodphoto3 foodphoto4"
    "food1 food2 food3 food4"
    "foodphoto5 foodphoto6 foodphoto7 foodphoto8"
    "food5 food6 food7 food8"
    "foodphoto9 foodphoto10 foodphoto11 foodphoto12"
    "food9 food10 food11 food12";
  grid-row-gap: 50px;
}

.food-spain {
  display: grid;
  grid-template-areas:
    "foodphoto1 foodphoto2 foodphoto3"
    "food1 food2 food3"
    "foodphoto4 foodphoto5 foodphoto6"
    "food4 food5 food6"
    "foodphoto7 foodphoto8 foodphoto9"
    "food7 food8 food9";
  grid-row-gap: 50px;
}
.food1 {
  grid-area: food1;

  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.food2 {
  grid-area: food2;

  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.food3 {
  grid-area: food3;

  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.food4 {
  grid-area: food4;

  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.food5 {
  grid-area: food5;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.food6 {
  grid-area: food6;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.food7 {
  grid-area: food7;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.food8 {
  grid-area: food8;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.food8 {
  grid-area: food8;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.food9 {
  grid-area: food9;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.food10 {
  grid-area: food10;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.food11 {
  grid-area: food11;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.food12 {
  grid-area: food12;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.foodphoto1 {
  grid-area: foodphoto1;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.foodphoto2 {
  grid-area: foodphoto2;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.foodphoto3 {
  grid-area: foodphoto3;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.foodphoto4 {
  grid-area: foodphoto4;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.foodphoto5 {
  grid-area: foodphoto5;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.foodphoto6 {
  grid-area: foodphoto6;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.foodphoto7 {
  grid-area: foodphoto7;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.foodphoto8 {
  grid-area: foodphoto8;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.foodphoto9 {
  grid-area: foodphoto9;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.foodphoto10 {
  grid-area: foodphoto10;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.foodphoto11 {
  grid-area: foodphoto11;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.foodphoto12 {
  grid-area: foodphoto12;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
/* Memories and Favorite Moments */

.memory-title {
  font-size: 18pt;
  color: #71c7ec;
  text-align: center;
  font-weight: bolder;
  font-family: "Abel", sans-serif;
  font-stretch: expanded;
  font-style: italic;
}

.moments-costarica {
  display: grid;
  grid-template-areas:
    "photo1 memory1"
    "memory2 photo2"
    "photo3 memory3"
    "memory4 photo4"
    "photo5 memory5"
    "memory6 photo6";
  grid-row-gap: 75px;
  padding-bottom: 20px;
}

.moments-morocco {
  display: grid;
  grid-template-areas:
    "photo1 memory1"
    "memory2 photo2"
    "photo3 memory3"
    "memory4 photo4"
    "photo5 memory5"
    "memory6 photo6";
  grid-row-gap: 50px;
  padding-bottom: 20px;
}

.moments-italy {
  display: grid;
  grid-template-areas:
    "photo1 memory1"
    "memory2 photo2"
    "photo3 memory3"
    "memory4 photo4"
    "photo5 memory5"
    "memory6 photo6";
  grid-row-gap: 50px;
  padding-bottom: 20px;
}

.moments-spain {
  display: grid;
  grid-template-areas:
    "photo1 memory1"
    "memory2 photo2"
    "photo3 memory3"
    "memory4 photo4"
    "photo5 memory5"
    "memory6 photo6";
  grid-row-gap: 50px;
  padding-bottom: 20px;
}

#icebar {
  width: 500px;
}

#drinks {
  width: 500px;
}

#cheese {
  width: 500px;
}

#capri {
  width: 500px;
}

#underdressed {
  height: 500px;
  width: 350px;
}

.photo1 {
  grid-area: photo1;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.memory1 {
  grid-area: memory1;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.photo2 {
  grid-area: photo2;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.memory2 {
  grid-area: memory2;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.photo3 {
  grid-area: photo3;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.memory3 {
  grid-area: memory3;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.photo4 {
  grid-area: photo4;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.memory4 {
  grid-area: memory4;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.photo5 {
  grid-area: photo5;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.memory5 {
  grid-area: memory5;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.photo6 {
  grid-area: photo6;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.memory6 {
  grid-area: memory6;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
