
html,body{
  background-color: LavenderBlush;
  color: black;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 16pt;
}

#name {
  font-size: 50pt;
  text-align: center;
  font-weight: 900;

/*background-color : pink;*/
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: center;
}

h3 {
  font-size: 24pt;
  text-align: center;
}

p {
font-size: 16pt;
text-align: center;
}


                                    /*LINKS*/

a:link{
  text-decoration: none;
  color: #708090;
}

a:hover{
background-color: HotPink;
color: white;
}

a:visited{
  text-decoration: none;
  color: #708090;
}

#email {
  text-decoration: none;
  color: #708090;
}
                              /* END LINKS */
#profile {
  float:right;
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

/* example photos of designs */
.class {
 display: inline;
 margin-left: 20px;
 margin-right: 20px;
 width: 15%;
 border: 1px solid black;
}

#cover {
  width:10%;
}

#TableContents{
  width:20%;
}

}

section{
  padding-top:10px;
  padding-right:30px;
  padding-bottom:10px;
  padding-left: 30px;
}

#address {
float: right
}

.lines{
  border-color: pink;
}



/*
  font-family: 'Raleway', sans-serif;
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    font-family: 'Fira Sans', sans-serif;
