@media only screen and (max-width: 600px) {


#title {
    padding-left: 250px;
    padding-bottom: 50px;
} /*exploration italy*/

body{
  margin: 4%;
  width: 300%;
}


nav{
  padding-bottom: 50px;
  text-align: center;
  font-size: 20pt;
}

h3{
  text-align: center;
  font-size: 25pt;
}

h4{
  font-size: 22pt;
}

h5{
  font-size: 20pt;
}

a:link{
  text-decoration: none;
  color: green;
}

a:hover{
background-color: red;
color: white;
}

a:visited{
  text-decoration: none;
  color: green;
}

.images {
  height: 320px;
  width: 400px;
}


/* Popular Destinations in Italy */

.destination-grid {
  display: grid;
  grid-template-areas:
    "rome florence"
    "tuscany milan"
    "postiano capri"
    "sicily venice";
  grid-gap: 10px;
  margin: 4%;
}

.rome {
  grid-area: rome;
}
.florence{
  grid-area: florence;
}
.tuscany{
  grid-area: tuscany;
}
.milan{
  grid-area: milan;
}
.postiano{
  grid-area: postiano;
}
.capri{
  grid-area:capri;
}
.sicily{
  grid-area: sicily;
}
.venice{
  grid-area:venice;
}

.destination-ids{
  font-size: 20pt;
  text-align: center;
}
/* end of popular destinations */

/* Rome */

#rome-introduction{
  margin: 4%;
  text-align: center;
}

/* toursits attractions in rome */
.tourist-attractions {
  display: grid;
  grid-template-areas:
    "attractions-heading"
    "colosseum-title"
    "colosseum-image"
    "colosseum-info"
    "basilica-title"
    "basilica-image"
    "basilica-info"
    "chapel-title"
    "chapel-image"
    "chapel-info"
    "fountain-title"
    "fountain-image"
    "fountain-info"
    "pantheon-title"
    "pantheon-image"
    "pantheon-info"
    "forum-title"
    "forum-image"
    "forum-info"
    "steps-title"
    "steps-image"
    "steps-info";
  grid-template-columns: 100% 0% 0%;
  text-align: justify;
}

.rome-images {
  padding-left: 250px;
  width: 600px;
  height: 400px;
}

.ids{
  text-align: center;
  font-size: 20pt;
}
.attractions{
  grid-area: attractions-heading;
  text-align: center;
  font-size: 20pt;

}

#colosseum {
  grid-area: colosseum-image;

} /*picture of the colosseum */

#colosseumId{
  grid-area: colosseum-title;
}

.colosseum {
  grid-area: colosseum-info;
  margin: 4%;
  text-align: center;
}

#basilica {
  grid-area: basilica-image;
}

#basilicaId {
  grid-area: basilica-title;
}

.basilica {
  grid-area: basilica-info;
  margin: 4%;
  text-align: center;
}

#treviFountain{
  grid-area: fountain-image;
}

#fountainId {
  grid-area: fountain-title;
}

.fountain {
  grid-area: fountain-info;
  margin: 4%;
  text-align: center;
}

#pantheon{
  grid-area: pantheon-image;
}

#pantheonId{
  grid-area: pantheon-title;
  margin: 4%;
  text-align: center;
}

.pantheon {
  grid-area: pantheon-info;
}
#forum{
  grid-area: forum-image;
}

#forumId {
  grid-area: forum-title;
}

.forum {
  grid-area: forum-info;
  margin: 4%;
  text-align: center;
}
#steps{
  grid-area: steps-image;
}

#stepsId{
  grid-area: steps-title;
}

.steps {
  grid-area: steps-info;
  margin: 4%;
  text-align: center;
}

#sistineChapel{
  grid-area: chapel-image;
}

#chapelId{
  grid-area: chapel-title;
}

.chapel {
  grid-area: chapel-info;
  margin: 4%;
  text-align: center;
}
/* end of popular destinations in Rome */

.florence-introduction{
  margin: 4%;
  text-align: center;
}
/* Destinations in Florence */
.florence-destinations{
  display: grid;
  grid-template-areas:
    "ponte-header"
    "ponte-vecchio"
    "palazzo-header"
    "palazzo-pitti"
    "piazza-header"
    "piazza-santo-spirito"
    "corsi-header"
    "corsi-gardens";
  grid-template-columns: 100% 0% 0%;
  max-width: 70%;
}

.paragraph{

}

#ponte{
  grid-area: ponte-header;
  text-align: center;
}
#palazzo{
  grid-area: palazzo-header;
  text-align: center;
}
#piazza{
  grid-area: piazza-header;
  text-align: center;
}
#corsi{
  grid-area: corsi-header;
  text-align: center;
}

.ponte-vecchio{
  grid-area: ponte-vecchio;
  text-align: center;
}
.palazzo-pitti{
  grid-area: palazzo-pitti;
  text-align: center;
}
.piazza-santo-spirito{
  grid-area: piazza-santo-spirito;
  text-align: center;
}
.corsi-gardens{
  grid-area: corsi-gardens;
  text-align: center;
}

/* end of destinations in Florence */

/* extra articles about Florence */
.articles {
  display: grid;
  grid-template-areas:
    "gelato wine-tour"
    "top-trattoria eat-local";
  margin: 4%;
  /* grid-template-rows: 100%; */
} /* end of extra articles about Florence */

.articles img{
  width:100%;
}





 } /* end of code */
