html,
body {
  margin: 3%;
  font-family: "Open Sans", sans-serif;
  background-color: Gainsboro;
}

/* body {
  background-image: url("images/background_2.jpg");
  background-repeat: repeat-x;
} */

#about_flag {
  color: red;
  font-style: italic;
}

nav {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: maroon;
}

#flag {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

h1 {
  text-align: center;
  font-size: 50pt;
  color: maroon;
}

h3 {
  text-align: center;
  font-size: 25pt;
}

.images {
  width: 300px;
}
.images_2 {
  width: 300px;
  height: 250px;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

#map {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  grid-area: map;
}

.destinations {
  grid-area: destinations;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 22pt;
}

.popular_destinations {
  display: grid;
  grid-template-areas: "map destinations";
}

.market_images {
  display: inline;
}

.marakesh-market {
  display: grid;
  margin: 0 auto;
  grid-template-areas:
    "market-1 market-2 market-3"
    "market-4 market-5 market-6";
  grid-column-gap: 5pt;
  grid-gap: 20pt;
  width: 100%;
}

#market-1 {
  grid-area: market-1;
}

#market-2 {
  grid-area: market-2;
}

#market-3 {
  grid-area: market-3;
}

#market-4 {
  grid-area: market-4;
}

#market-5 {
  grid-area: market-5;
}

#market-6 {
  grid-area: market-6;
}

#about_souks {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: maroon;
  color: white;
  font-size: 10pt;
}

#about_souks_info {
  padding-top: 20px;
}
